.pop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #7B7B7B;
    opacity: 0.6;
}
.content-box{
    z-index: 100;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-color: #fff;
    padding: 3% 5%;
    position: absolute;
    top: 0;
}
.title{
    margin: 0 auto;
    color:#007AFF ;
    margin-top: 10px;
}
.item-one{
    padding-top: 10px;
}
.item-one-title{
    text-align: right;
    width: 20%;
    padding: 10px 0 5px 0;
    font-size: 15px;
    color: #5B626A;
}
.item-input{
    border: 1px solid #EEEDE9;
    border-radius: 5px;
    background-color: #fff;
    width: 80%;
    outline: none;
    padding: 5px 8px;
    margin-left: 3px;

}
.item-input:hover{
    border-bottom: 1px solid #007AFF;
    width: 80%;
}
.item-btns{
    margin-top: 30px;
    width: 100%;
}

.btn {
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 0;
    margin: 0 5px ;
}