.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 5%; 
    border-top: 1px solid #EEEDE9;
    background-color: #fff;
}
.item{
    flex: 1;
    text-align: center;
    background-color: #fff;
    border: none;
    outline: none;
}
.item:hover{
    transform: scale(1.5);
}
.item-on-btn{
    cursor: pointer;
}
.item-hover-btn:hover{
    color: #9266F9;
}